[{chat_db,
     [{bucket_config,
          [{<<"tenant">>,config},
           {<<"cluster">>,config},
           {<<"contactPoint">>,config},
           {<<"defaultTimeZone">>,config},
           {<<"form">>,config},
           {<<"attachment">>,config}]},
      {pools,
          [{config, [5,"couchbase05.dev.premiercontactpoint.com:8091","config","pcp123","config"]}]}]},
 {live,
     [{longpoll,
          [{window_ms,10000},
           {crypto,[{max_age,1209600}]}]},
      {ws_timeout,300000},
      {'Elixir.LiveWeb.Endpoint',
          [{http,[{port,4010}]},
           {url,
               [{host,<<"master.dev.premiercontactpoint.com">>},
                {path,<<"/chat">>}]},
           {server,true},
           {debug_errors,false},
           {render_errors,
               [{view,'Elixir.LiveWeb.ErrorView'},
                {layout,false},
                {accepts,[<<"json">>]}]},
           {check_origin,false},
           {secret_key_base,
               <<"3fXws7MeTX6XkOYrBI4apLYW7avsgoyKmAjDwpYTFj07JatEmKPS6PCF4AYuqszq">>},
           {socket_longpoll,
               [{window_ms,10000},
                {transport_log,false},
                {crypto,[{max_age,1209600}]}]},
           {live_view,[{signing_salt,<<"FyWoxNB9hnS19QJj">>}]}]},
     {images_path,<<"/var/www/live/priv/static/images">>},
     {svg_path,<<"/var/www/live/priv/static/svg">>}]},
 {cors_plug,[{origin,[<<"*">>]}]},
 {hammer,
     [{backend,
          {'Elixir.Hammer.Backend.ETS',
              [{expiry_ms,14400000},{cleanup_interval_ms,600000}]}}]},
 {phoenix,
     [{json_library,'Elixir.Jason'}]},
 {chat,
     [{contact_proc_idle_timeout,900},
      {cirrus_base_urls,[<<"10.3.65.198:21000">>,<<"10.3.65.89:21000">>]},
      {message_formats,
          [<<"email">>,<<"configuration">>,<<"text">>,<<"html">>,<<"form">>,
           <<"formResponse">>,<<"file">>,<<"image">>,<<"video">>]},
      {cirrus_ws_keepalive,20000},
      {rate_limit,4},
      {rate_limit_scale,1000},
      {rate_limit_white_list,[<<"127.0.0.1">>]}]}].